body, html {
    height: 120%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #1d0294, #b9b0e2); /* Gradiente azul para branco */
    font-family: 'Barlow', sans-serif;
}

.head {
    width: 100%;
    text-align: center;
    color: #fff; /* Cor do texto branco */
    font-size: 24px;
    padding: 20px 0;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(100vw - 40px); /* Limita a largura máxima ao tamanho da janela, com margens */
    padding-left: 20px; /* Espaçamento à esquerda para a primeira coluna */
    box-sizing: border-box; /* Garante que a largura inclua o padding */
}

.card {
    width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: #1d0294;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.title {
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

.content {
    display: none;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 10px;
}

.content p {
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
}

.content pre {
    background-color: #f8f9fa;
    color: #333333;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 14px;
}

.content.active {
    display: block;
}

.col {
    width: 80%;
    max-width: 100vw; /* Define o tamanho máximo como 100% da largura da viewport */
    padding: 20px; /* Adiciona um espaço de 20px ao redor do conteúdo */
    text-align: center;
    box-sizing: border-box;
}